<div class="text-center">
    <h2 class="text-light font-weight-bold mb-5">How is WPM calculated?</h2>
    <p class="mx-auto w-50 h5 align-content-center text-white-50 m-5">
        WPM is calculated by taking all of the characters you typed, say for example, 100.
        Every 5 letters count as one word. (Since words like 'institution' are a lot longer than the word 'jam').
        We then divide the number of 'words' by the amount of time the game was running for, in our case 20 seconds.
        Since 20 seconds is a third of a minute, we divide by 0.33, since we want words per minute, not words per 20 seconds.
    </p>
    <h2 class="text-light font-weight-bold mb-5">How is Accuracy calculated?</h2>
    <p class="mx-auto w-50 h5 align-content-center text-white-50 m-5">
        If a word is spelled correctly, then it counts as correct.
        We tally up all the correctly spelled words and divide it by all the words you typed, giving us your accuracy.
        Why did I do it this way? Because it is the simplest solution, and encourages you to type both fast and correctly.
    </p>
    <h2 class="text-light font-weight-bold mb-5">How are Scores submitted?</h2>
    <p class="mx-auto w-50 h5 align-content-center text-white-50 m-5">
        Your accuracy must be greater than 95% for your score to be submitted.
        This is to counter people just mashing their keyboards and submitting 300WPM 0% accuracy plays.
        Once again, this was just the simplest solution to counter cheating, 
        and no one really cares about your 300WPM 0% accuracy score anyway, even if it was legit.
    </p>
</div>