@{
    ViewData["Title"] = "Home page";
}

<style type="text/css">
    #txtInput:focus {
        outline: none;
    }

    #timer {
        font-size: x-large;
    }

    #wordsToType {
        font-size: large;
    }
</style>

<div class="text-center">
    <h1 class="display-4 text-light font-weight-bold">FlashTyper</h1>
    <p class="mx-auto w-50 align-content-center  text-white-50 m-5" id="wordsToType"> Ipsem lorem Ipsem lorem Ipsem lorem Ipsem lorem Ipsem lorem Ipsem lorem Ipsem lorem </p>
    <input onkeydown="update()" type="text" class="text-decoration-none bg-secondary text-white-50 m-5 border-0 text-primary" id="txtInput" autocomplete="off" placeholder="Type to start..." />
    <button onclick="reset()" class="bg-secondary text-white-50 m-5 border-0 text-primary">reset</button>
    <p class="text-white-50" id="timer"> 20 </p>
    <h5 class="text-white-50" id="wpm"> </h5>
</div>

