@page
@model FlashTyper_WEB.Pages.LeaderboardsModel
@{
}

<div class="text-center">
    <h1 class="display-4 text-light font-weight-bold">Leaderboards</h1>
    <p class="mx-auto w-50 align-content-center  text-white-50 m-5">Coming soon!</p>
</div>
